*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
}

h1{
  color :white;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

button{
  background: transparent;
  color :white;
  border: 2px white solid;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 12px 32px;
  cursor:pointer;
}

button:hover{
  background: white;
  color: #02799D;
}

p{
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  color: white;
}

header{
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 40px;
}

ul{
  display: flex;
  gap:32px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: gray;
  font-size: 1.375rem;
}

a:hover{
  color:white;
  font-weight: bold;
}

a.active{
  font-weight: bold;
}

main{
  padding: 40px;
}